#d1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #B2A5FF;
}

#pass-ctn {
    background-color: #4E56C0;
    padding: 20px;
    color: white;
    border-radius: 20px;
    /* text-align: center; */
    font-family: cursive;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.28), 0px 6px 20px 0px rgba(0,0,0,0.8);
}

#btn {
    background-color: #B4DEBD;
    transition: 0.2s;
    border-radius: 20px;
}

#btn:hover{
    background-color: #80A1BA;
    color: white;
}

#in{
    background-color: #dbd6f8;
    border: solid 1px #dbd6f8;
    border-radius: 20px;
    text-align: center;
    height: 25px;
    font-size: 15px;
    font-family: cursive;
}