#d2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;      
    top: 0;
    left: 0;
    width: 100vw;          
    height: 100vh;         
    background-color: #A8FBD3;
}

h1 {
    background-color: #FFACAC;
    color: aliceblue;
    padding: 20px;
    border: solid 2px #FFACAC;
    border-radius: 20px;
    box-shadow: 8px 8px 1px 1px rgb(255, 255, 255);
}