#d2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;      
    top: 0;
    left: 0;
    width: 100vw;          
    height: 100vh;         
    background-color: #B2A5FF;
}

#fact_cont {
    background-color: #FFACAC;
    color: rgb(255, 255, 255);
    padding: 20px;
    border: solid 2px #FFACAC;
    border-radius: 20px;
    box-shadow: 10px 10px 5px 2px rgb(255, 255, 255);
    font-size: 30px;
}

#num{
    text-align: center;
    height: 40px;
    width: 150px;
    border: #FFACAC;
    border-radius: 20px;
    font-size: 17px;
}