.body {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #FFCF50;
}

.box {
    background-color: #C7DB9C;
    padding: 30px;
    font-family: cursive;
    border: #C7DB9C;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    font-size: 20px;
}

#str{
    text-align: center;
    font-size: 18px;
    border: white;
    border-radius: 20px;
    height: 25px;
}

#radio-div{
    font-size: 18px;    
}