#main{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #DDEB9D;
}

#form{
    background-color: #27667B;
    padding: 20px;
    border: #27667B;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.7);
    color: white;
}

#grad{
    font-family: cursive;
}